<div class="row">
  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-12">
        <h1>About</h1>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <p>Woman, you are completely off your nut. What gives you the right to suck face with your demon lover again? No, they're something nightmares are from. Wash, we've got some local color happening. So we'll integrate non-progressional evolution theory with God's creation of Eden.</p>
      </div>
      <div class="col-xs-6">
        <p>Yes! I don't read anything after it's come out, because I will not waste my
precious time on such ridiculous nonsense. But I understand, according to
you, that there was a lot of curiosity about the Vatican assassins.</p>
      </div>
  </div>
</div>
<section>
  <div class="row">
    <div class="col-xs-12">
      <h2>Meet the Team!</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-3">
      <img src="http://ruby.zigzo.com/files/2013/01/ned-ruggeri.jpg" height=150 class="img-circle">
      <h2>Ned Ruggeri</h2>
      <p>Bacon ipsum dolor sit amet drumstick bacon ham hock ribeye. Venison t-bone tail, shankle boudin ham biltong leberkas spare ribs bresaola. Pork tail sausage venison jerky pork chop. Ribeye short loin tenderloin shank tongue turkey pastrami pork loin filet mignon frankfurter pig swine chicken biltong. Tri-tip sausage corned beef landjaeger tenderloin.</p>
    </div>
    <div class="col-xs-3">
      <img src="http://www.appacademy.io/assets/site/staff/kush-patel-0c2d001885795ce2ba1b40e34a16a900.jpg" height=150 class="img-circle">
      <h2>Kush Patel</h2>
      <p>Chicken filet mignon jerky, pastrami shank tail pig ribeye. Salami tongue capicola meatloaf. Shankle sirloin pastrami ham hock venison capicola. Rump bacon shankle pork chop, pancetta pork loin ham hock chuck strip steak pork ball tip capicola jerky. Tenderloin filet mignon salami, rump andouille tri-tip chicken pork chop shoulder leberkas corned beef pork belly tail.</p>
    </div>

    <div class="col-xs-3">
      <img src="https://lh3.googleusercontent.com/-PifGHbksEPM/AAAAAAAAAAI/AAAAAAAAAAA/S-jQ1bBdSvA/photo.jpg" height=150 class="img-circle">
      <h2>Cj Avilla</h2>
      <p>Filet mignon sirloin turducken doner chicken. Brisket bresaola pork rump ball tip. Doner tri-tip pork loin turkey salami. Chuck ground round spare ribs doner tenderloin meatball. Shoulder swine shank drumstick. Brisket shoulder pork t-bone venison boudin corned beef bresaola.</p>
    </div>

    <div class="col-xs-3">
      <img src="http://seattletimes.com/ABPub/2011/08/29/2016048271.jpg" height=150 class="img-circle">
      <h2>The Dude</h2>
      <p>Cow salami short loin sausage jerky. Turkey hamburger kevin pork belly frankfurter pork chop corned beef spare ribs ribeye pancetta rump. Swine turducken flank pastrami chuck bresaola filet mignon short ribs chicken ground round prosciutto. Short loin kielbasa corned beef pork belly, ball tip sirloin t-bone andouille ground round. Shank ham jerky pancetta, frankfurter swine shoulder hamburger chicken filet mignon bresaola beef ribs tongue pork loin ribeye. Turducken turkey corned beef sirloin ground round pork chop.</p>

    </div>
  </div>
</section>