<div class="row">
  <div class="col-xs-12">
  <h1>Home</h1>
</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <div class="navbar-example">
      <ul class="nav nav-pills">
        <li><a href="#p1">P1</a></li>
        <li><a href="#p2">P2</a></li>
        <li><a href="#p3">P3</a></li>
        <li><a href="#p4">P4</a></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-9">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <img src="http://images2.wikia.nocookie.net/__cb20100810232703/simpsons/images/2/25/Ned-flanders.jpg">
          <div class="carousel-caption">

          </div>
        </div>

        <div class="item">
          <img src="http://mimg.ugo.com/201011/64856/cuts/maude-flanders_480x360.png">
          <div class="carousel-caption">

          </div>
        </div>

        <div class="item">
          <img src="http://static2.wikia.nocookie.net/__cb20130313114614/scratchpad/images/4/4a/Rodd%26ToddFlanders.png">
          <div class="carousel-caption">

          </div>
        </div>

      </div>


      <a class="left carousel-control" href="#carousel" data-slide="prev">
        <span class="glyphicon ">&#x25c0;</span>
      </a>
      <a class="right carousel-control" href="#carousel" data-slide="next">
        <span class="glyphicon">&#x25b6;</span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div id="p1" class="col-xs-12">
    <h1>Something</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a id="tool-tip-1" href="http://appacademy.io/" data-placement="right" data-animation="true" data-toggle="tooltip" title="first tooltip" data-trigger="hover">Checkout AA</a>
    <p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit. </p>
  </div>
</div>
<div class="row">
  <div id="p2" class="col-xs-12">
    <h1>Something Really Interesting</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit. </p>
  </div>
</div>
<div class="row">
  <div id="p3" class="col-xs-12">
    <h1>Something Not Very Interesting</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit. </p>
  </div>
</div>
<div class="row">
  <div id="p4" class="col-xs-12">
    <h1>Something Stupid</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit. </p>
  </div>
</div>